body{
    min-height: 100%;
    font-size: 18px;
    line-height: 34px;
    background: url(./images/tile.jpg);
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

nav, footer{
    flex-shrink: 0;
}


/* NavBar Styling */
.navbar-brand{
    margin-left: 3.5%;
    font-size: 2rem !important;
    border: 2px solid teal;
    padding: 20px;
    color: rgb(228, 228, 228) !important;
}

nav ul li a{
    color: rgb(228, 228, 228) !important;
}

.active{
    background-color: teal;
    border-radius: 8px;
    padding-left: 8px !important;
}

.navbar-nav{
    margin-left: 80%;
}
/* NavBar Styling End */

/* Main Content Styling */
#aboutMe, #portfolio, #contact{
    background-color: rgb(228, 228, 228);
    margin-top: 30px;
    padding: 20px;
}
/* Main Content Styling End*/

/* Social Card Styling */
.social{
    padding: 10px;
    height: 20%;
    width: 60%;
    margin-top: 30px !important;
    margin-bottom: 100px;
    background-color: rgb(228, 228, 228);
}

.card-title{
    color: teal;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}

.fa-github-square, .fa-linkedin, .fa-stack-overflow{
    font-size: 70px;
    color: grey;
    transition: 0.3s;
}

.fa-github-square:hover{
    color: rgba(255, 0, 0, 0.815);
}

.fa-linkedin:hover{
    color: blue;
}

.fa-stack-overflow:hover{
    color: orange;
}
/* Social Card Styling End */

/* About Me Styling */
#aboutMe{
    margin-bottom: 80px;
    margin-right: 50px;
    overflow: auto;
}

#profilePicture{
    float: left;
    margin-right: 15px;
    height: auto;
    width: 350px;
}

h1{
    padding: 15px 0px;
    border-bottom: 1px solid grey;
    color: teal;
}

#aboutMeInfo{
    padding-top: 10px;
}
/* About Me Styling End */

/* Portfolio Styling */
#portfolio{
    margin-bottom: 80px;
}

.portfolioScreenshot{
    margin: 20px;
}
/* Portfolio Styling End */

/* Contact / Form Styling */
#contact{
    margin-right: 50px;
    margin-bottom: 120px;
}

.btn-primary{
    background-color: teal !important;
    border-color: teal !important;
}
/* Contact / Form Styling End */

/* Footer Styling */
.footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    line-height: 65px;
    text-align: center;
    border-top: 5px solid teal;
    flex-shrink: 0;
}
/* Footer Styling End */