body{
    height: 100%;
    font-size: 18px;
    line-height: 34px;
    background: url(./images/tile.jpg);
    display: flex;
    flex-direction: column;
}

.container{
    flex: 1 0 auto;
}
/* NavBar Styling */
.navbar-brand{
    margin-left: 3.5%;
    font-size: 2rem !important;
    border: 2px solid teal;
    padding: 20px;
    color: rgb(228, 228, 228) !important;
}

nav ul li a{
    color: rgb(228, 228, 228) !important;
}

.active{
    background-color: teal;
    padding-left: 8px !important;
}

.navbar-nav{
    margin-left: 80%;
}

/* NavBar Styling End */

/* About Me Styling */
#aboutMe, #portfolio, #contact{
    background-color: rgb(228, 228, 228);
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 20px;
}

img{
    float: left;
    margin-right: 15px;
}

h1{
    padding: 15px 0px;
    border-bottom: 1px solid grey;
    color: teal;
}

#aboutMeInfo{
    padding-top: 10px;
}
/* About Me Styling End */

/* Portfolio Styling */
.portfolioScreenshot{
    margin: 20px;
}
/* Portfolio Styling End */

/* Form Styling */
.btn-primary{
    background-color: teal !important;
    border-color: teal !important;
}
/* Form Styling End */

/* Footer Styling */
.footer{
    width: 100%;
    line-height: 65px;
    text-align: center;
    border-top: 5px solid teal;
    flex-shrink: 0;
}
/* Footer Styling End */